- const svgPwrSymbol = `<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' preserveAspectRatio='xMinYMin meet'><path fill='currentColor' d='M136.68,123.21A34.59,34.59,0,0,0,91.31,71a251.26,251.26,0,1,0,327.85-1.32,34.59,34.59,0,0,0-44.95,52.6,181.94,181.94,0,0,1,63.86,138.49c0,100.39-81.68,182.07-182.07,182.07S73.93,361.13,73.93,260.74A182.09,182.09,0,0,1,136.68,123.21Z'></path><path fill='currentColor' d='M290.59,277V34.59a34.59,34.59,0,0,0-69.19,0V277A34.59,34.59,0,1,0,290.59,277Z'></path></svg>`;

main#main
  h1#title #title
  div#img-div
    img#image(src="https://via.placeholder.com/500x300.png?text=%23image+placeholder")
    p#img-caption #img-caption
  
  div#tribute-info
    p #tribute-info
    a#tribute-link(href="#" target="_blank" rel="noopener noreferrer") #tribute link

button#custom_fcc_foldout_toggler !{svgPwrSymbol} TEST