@use postcss-mixins;
@use postcss-simple-vars;
@use postcss-preset-env(stage: 0);

$rlh: 1.618;
$breakpoint: screen and
  (
    min-width: 1025px,
  );
$font-family-body: "Open Sans", sans-serif;
$font-family-title: "Diplomata SC";
$color-body-text: hsl(22, 7%, 40%);

@define-mixin button {
  appearance: none;
  outline: none;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: top;
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
  height: 2.5em;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
}

/* Set default box-sizing */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: linear-gradient(
    to right,
    hsl(35, 46%, 83%),
    hsl(35, 46%, 93%) 40% 60%,
    hsl(35, 46%, 83%)
  );
}

body {
  color: $color-body-text;
  font-family: $font-family-body;
  font-size: 1em;
  font-weight: 400;
  line-height: $rlh;
}

html,
body {
  margin: 0;
  padding: 0;
  /* min-height: 100vh; */
}

a {
  color: hsl(201, 72%, 31%);
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: hsl(201, 72%, 41%);
  }
}

/* vertical rhythm for block-level elements */
h1,
ul,
p {
  margin-bottom: calc(1rem * $rlh);
}

#main {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
  padding: 1em;
}

#title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 1em auto 0.5em auto;
  height: auto;
  width: 100%;
  /* max-width: 500px; */
  font-family: $font-family-title;
  font-weight: 400;
  font-size: 2.5em;
}

#img-div {
  position: relative;
  margin: auto;

  & img#image {
    position: relative;
    display: block;
    height: auto;
    width: 100%;
    max-width: 500px;
    border-radius: 50%;
    border: 1px solid $color-body-text;
  }

  & #img-caption {
    text-align: center;
    font-style: italic;
    font-size: 0.75em;
  }
}

ul.timeline {
  list-style: none;
  padding: 0;

  & li {
    margin-bottom: calc(1rem * $rlh);
  }

  & .date,
  & .detail {
    display: block;
    text-align: center;
  }

  & .date {
    text-align: center;
    font-size: 1.2em;
    font-family: $font-family-title;
  }
}

p.more-info {
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
}

#custom_fcc_foldout_toggler {
  @mixin button;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 500;
  display: none;
  cursor: pointer;
  color: hsl(0, 0%, 65%);
  background: hsla(0, 0%, 0%, 0.7);
  transition: all 0.2s;

  & svg {
    height: 1.1em;
    margin-right: 0.5ch;
  }

  &:hover,
  &:active {
    color: hsl(0, 0%, 90%);
  }

  &.is-open {
    color: hsl(120, 100%, 50%);
  }

  @media $breakpoint {
    display: inline-flex;
  }
}
